Repository newhook/co: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, golangci-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    trailing-whitespace:
      glob: "*.{go,md,yaml,yml,toml,json}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            sed -i '' 's/[[:space:]]*$//' "$file"
            git add "$file"
          fi
        done

    end-of-file-fixer:
      glob: "*.{go,md,yaml,yml,toml,json}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ] && [ -s "$file" ]; then
            if [ "$(tail -c1 "$file" | wc -l)" -eq 0 ]; then
              echo "" >> "$file"
              git add "$file"
            fi
          fi
        done

    check-yaml:
      glob: "*.{yaml,yml}"
      run: yq eval '.' {staged_files} > /dev/null

    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --timeout=5m --new-from-rev=HEAD~1 ./...

Add cross-package integration tests for work flows
  internal/testutil/integration_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Add philosophy and workflow overview to README
  README.md
Due: trailing-whitespace, end-of-file-fixer

Fix description to mention TUI, not just CLI
  README.md
Due: trailing-whitespace, end-of-file-fixer

Add note about agent-agnostic architecture
  README.md
Due: trailing-whitespace, end-of-file-fixer

Reorganize documentation and fix prerequisites (#255)
  README.md
  docs/cli-reference.md
  docs/configuration.md
Due: trailing-whitespace, end-of-file-fixer

Improve test coverage for internal packages (#256)
  internal/beads/cachemanager/in_memory_manager_test.go
  internal/beads/client_test.go
  internal/control/control_test.go
  internal/orchestration/helpers_test.go
  internal/testutil/integration_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Fix beads Init/Reinit/InstallHooks to use mise exec
  internal/beads/client.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove tests for deleted UpdateWorkTaskActivity function
  internal/orchestration/helpers_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove dead code identified by deadcode analysis (#254)
  internal/beads/client.go
  internal/beads/status.go
  internal/control/spawn.go
  internal/feedback/integration.go
  internal/linear/fetcher.go
  internal/mise/mise.go
  internal/orchestration/helpers.go
  internal/orchestration/helpers_test.go
  internal/process/process.go
  internal/project/project.go
  internal/work/beads.go
  internal/zellij/zellij.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Add debug logging and crash recovery for destroy worktree
  internal/claude/runner.go
  internal/control/handler_destroy_worktree.go
  internal/control/loop.go
  internal/db/scheduler.go
  internal/db/sqlc/querier.go
  internal/db/sqlc/scheduler.sql.go
  internal/work/work.go
  sql/queries/scheduler.sql
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Add debug logging and crash recovery for destroy worktree (#257)
  internal/claude/runner.go
  internal/control/handler_destroy_worktree.go
  internal/control/loop.go
  internal/db/scheduler.go
  internal/db/sqlc/querier.go
  internal/db/sqlc/scheduler.sql.go
  internal/work/work.go
  sql/queries/scheduler.sql
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Add goreleaser and pin tool versions in mise.toml
  mise.toml
Due: trailing-whitespace, end-of-file-fixer

Use aqua version of moq instead of go install
  mise.toml
Due: trailing-whitespace, end-of-file-fixer

Add goreleaser and pin tool versions (#258)
  mise.toml
Due: trailing-whitespace, end-of-file-fixer

Pin beads to v0.49.2 in generated mise config
  internal/mise/template/mise.tmpl
Due: none

Also update co's mise.toml to beads v0.49.2
  mise.toml
Due: trailing-whitespace, end-of-file-fixer

Document beads version alignment requirement
  CLAUDE.md
Due: trailing-whitespace, end-of-file-fixer

Pin beads to v0.49.2 in generated mise config (#259)
  CLAUDE.md
  internal/mise/template/mise.tmpl
  mise.toml
Due: trailing-whitespace, end-of-file-fixer

Add gh run watch integration for immediate CI notification
  internal/control/handler_pr_feedback.go
  internal/control/handler_watch_run.go
  internal/control/handler_watch_run_test.go
  internal/control/plane.go
  internal/db/scheduler.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Refactor GitHub operations to github package
  internal/control/control_test.go
  internal/control/handler_pr_feedback.go
  internal/control/handler_watch_run.go
  internal/control/plane.go
  internal/github/client.go
  internal/github/github_mock.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Use injected GitHubClient in spawnWorkflowWatchers
  internal/control/control_test.go
  internal/control/handler_pr_feedback.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Add gh run watch integration for immediate CI notification (#260)
  internal/control/control_test.go
  internal/control/handler_pr_feedback.go
  internal/control/handler_watch_run.go
  internal/control/handler_watch_run_test.go
  internal/control/plane.go
  internal/db/scheduler.go
  internal/github/client.go
  internal/github/github_mock.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Move SessionNameForProject and FormatTabName to project package
  internal/claude/runner.go
  internal/control/spawn.go
  internal/project/project.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Move OrchestratorManager from claude to work package
  internal/claude/orchestrator.go
  internal/claude/runner.go
  internal/control/plane.go
  internal/testutil/harness.go
  internal/tui/tui_plan_work.go
  internal/work/orchestrator.go
  internal/work/orchestrator_mock.go
  internal/work/service.go
  internal/work/work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Update orchestrator functions to require initialized session
  internal/claude/runner.go
  internal/work/orchestrator.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove EnsureSession from zellij public API
  internal/control/spawn.go
  internal/zellij/zellij.go
  internal/zellij/zellij_mock.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Clean up claude package to only contain Claude-specific code
  cmd/work.go
  internal/claude/runner.go
  internal/tui/tui_plan_work.go
  internal/work/tabs.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Fix TUI openConsole session initialization order
  internal/tui/tui_plan_work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Convert tab functions to OrchestratorManager methods
  cmd/work.go
  internal/control/control_test.go
  internal/control/loop.go
  internal/control/plane.go
  internal/tui/tui_plan_work.go
  internal/work/orchestrator.go
  internal/work/orchestrator_mock.go
  internal/work/tabs.go
  internal/work/work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Extract session package and add CreateWorkFromBead shared method
  cmd/run.go
  cmd/work.go
  cmd/work_import_pr.go
  internal/control/spawn.go
  internal/session/session.go
  internal/tui/tui_plan_work.go
  internal/work/beads.go
  internal/work/orchestrator.go
  internal/work/tabs.go
  internal/work/work.go
  internal/zellij/layout.kdl.tmpl
  internal/zellij/zellij.go
  internal/zellij/zellij_mock.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Consolidate work creation methods into WorkService
  cmd/work_import_pr.go
  internal/control/control_mock_test.go
  internal/control/control_test.go
  internal/control/handler_destroy_worktree.go
  internal/control/loop.go
  internal/control/plane.go
  internal/tui/tui_plan_data.go
  internal/work/work.go
  internal/work/work_integration_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove unused methods from zellij Session interface
  internal/session/session.go
  internal/work/orchestrator.go
  internal/work/tabs.go
  internal/zellij/zellij.go
  internal/zellij/zellij_mock.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Make zellij Client private, return SessionManager from New()
  internal/zellij/zellij.go
  internal/zellij/zellij_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Move implementation from client to session struct
  internal/zellij/zellij.go
  internal/zellij/zellij_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Rename client to sessionManager for consistency
  internal/zellij/zellij.go
  internal/zellij/zellij_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove unused methods from Session interface
  internal/zellij/zellij.go
  internal/zellij/zellij_mock.go
  internal/zellij/zellij_test.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Remove deprecated session wrappers from control package
  cmd/control_plane.go
  internal/control/spawn.go
  internal/session/session.go
  internal/tui/tui_plan_data.go
  internal/tui/tui_plan_work.go
  internal/work/orchestrator.go
  internal/work/tabs.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Merge session.Initialize into EnsureControlPlane
  cmd/run.go
  cmd/work.go
  cmd/work_import_pr.go
  internal/session/session.go
  internal/tui/tui_plan_data.go
  internal/tui/tui_plan_work.go
  internal/work/orchestrator.go
  internal/work/tabs.go
  internal/work/work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Move EnsureControlPlane from session to control package
  cmd/control_plane.go
  cmd/run.go
  cmd/work.go
  cmd/work_import_pr.go
  internal/control/spawn.go
  internal/tui/tui_plan_data.go
  internal/tui/tui_plan_work.go
  internal/work/orchestrator.go
  internal/work/tabs.go
  internal/work/work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint

Consolidate PR import logic into WorkService
  cmd/work_import_pr.go
  internal/control/handler_import_pr.go
  internal/tui/tui_plan_data.go
  internal/work/import_pr.go
  internal/work/import_pr_test.go
  internal/work/service.go
  internal/work/work.go
Due: trailing-whitespace, end-of-file-fixer, golangci-lint
